body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #ffffff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 10% 7%;
}


/* navogation bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat";
}

.download-button {
    margin: 5% 3% 5% 0%;
}


/* title image */

.rotate {
    width: 20%;
    transform: rotate(20deg);
    position: absolute;
    left: 55%;
}

@media (max-width:991px) {
    .rotate {
        transform: rotate(0deg);
        position: static;
        width: 50%;
    }
    .row {
        text-align: center;
    }
}


/* section */

#features {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 10%;
}

.feature-box {
    padding: 0 40px;
}

.icon {
    color: #ff4c68;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #d9576b;
}

.check,
.bullseye,
.heart {
    font-size: 2.5em;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* testomonials section*/

h2 {
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
}

#testimonials {
    text-align: center;
    background-color: #d9576b;
    color: #ffffff;
}

.testimonial-image {
    padding: 5% 5%;
    width: 30%;
    border-radius: 100%;
}

.carousel-item {
    padding: 7% 15%;
}


/* press */

#press {
    background-color: #d9576b;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
    text-align: center;
    padding: 10px;
}

.pricing-column {
    padding: 3% 3%;
}


/* Call To Action */

#cta {
    background-color: #ff4c68;
    color: #ffffff;
    text-align: center;
    padding: 5% 5% 2%;
}


/* footer */

#footer {
    text-align: center;
    padding: 2% 0 1% 0;
}

.icon {
    color: #000000;
    padding: 1%;
}